*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
    background-color: grey;
    font-family: 'Courier New', Courier, monospace;
    height: 100%;
    /* display: flex; */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#calc {
    width: 378px;
    background-color: rgb(38, 38, 38);
    height: 420px;
    border-radius: 10px;
}

#screen {
    margin: 5px 5px 0px 5px;
    width: 368px;
    height: 95px;
    padding: 5px 10px;
    background-color: rgb(85, 85, 85);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

#history {
    color: rgb(180, 180, 180);
    margin: 5px;
    font-size: 16px;
}

#display {
    color: white;
    font-size: 38px;
    font-weight: bolder;
    margin: 0px;
    height: 48px;
}

#buttons {
    display: flex;
    width: 378px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
}

button {
    padding: 0px;
    margin: 1px;
    height: 60px;
    width: 90px;
    border: 0px;
    border-radius: 5px;
    background-color: rgb(65, 65, 65);
    color: white;
    font-size: 26px;
    font-weight: bold;
}

.debug {
    background-color: black;
    color: green;
    width: 550px;
    height: 350px;
}

#buttons button:active {background-color: rgb(20, 20, 20)}
.number:hover {background-color: rgb(45, 45, 45)}
.edit {background-color: rgb(45, 45, 45)}
.edit:hover {background-color: rgb(65, 65, 65)}
.operand {background-color: rgb(189, 189, 70)}
.operand:hover {background-color: rgb(85, 85, 24)}
.compute {background-color: green}
.compute:hover {background-color: rgb(0, 90, 0)}